/***************************************************/
/****************** ASSETS ************************/

body {
	background-color: #2c3e50;
	font-size: 1em;
}

.mef {
	/*margin-left: 200px; 
	/*margin-left: 5%; */
}

.btn-crud {
	color:#7f8c8d;
	font-family: 'Orbitron', sans-serif;
	background-color: #34495e;
	border: 1px solid #7f8c8d;
	padding: 5px;

}
.btn-crud:hover {
	border-color: #34495e;
	background-color: #7f8c8d;
	color:#34495e;
	border: 1px solid #34495e;
}

.hidden-contact {
	display: none;
}

.btn:focus, .btn:active {
  outline: none;
  background: transparent;
  color:#7f8c8d;
  border-color: #7f8c8d;
}

/************************************************************************************************/
/********************************************LAYOUT**********************************************/
/************************************************************************************************/

/************************************************/
/******************* NAVBAR *********************/
/************************************************/

.navbar-fixed-left {
	/*position: fixed;*/
	width: 200px;
	height: 100%;
	background-color: #34495e;
	border:0;
	border-radius:0;
	z-index: 9;
	border-right: 1px solid #7f8c8d;

}

.navbar-default .navbar-nav>li>a {
	color:#7f8c8d;
	font-family: 'Orbitron', sans-serif;
	font-size: 2em;

}
.navbar-brand {
	padding:0;
}

.item-position {
	padding-top: 60%;
}

.brand-position {
	margin-left: -4%;
}


/* Medium devices (desktops, 1024px and up) */
@media screen and (max-width: 1024px){ 

	 body {
	 	padding-top: 10%;
	 }
	 .mef {
	 	padding-left: 0%;
	 	margin: 0;
	 }
	 .navbar-fixed-top {
	background-color: rgba(52, 73, 94,0.5);
	width: 100%;
	position: fixed;
	z-index: 8;
	height:auto;
	}
	.responsive-logo{
	 	display: none;
	}
	.btn-contact {
	display: none;
	}
	.hidden-contact {
		display: block;
		color:#7f8c8d;
		font-family: 'Orbitron', sans-serif;
		font-size: 2em;
	}
	.hidden-contact a {
		color:#7f8c8d;
	}
	.responsive-text {
		font-size: 1em;
	}
	
	.item-position {
		padding-top: 0%;
	}

	.hide-nav {
		position: relative;
		z-index: 99;
	}
}

/* Pour afficher le menu hamburger a partir de 1024px */
@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

/* Responsive pour les petit ecrans*/
@media screen and (max-width: 600px) {
	.responsive-text {
		font-size: 0.3em;
	}

}
/******************* CONTACT ********************/
/************************************************/

.btn-contact {
	border: 2px solid #7f8c8d;
	background-color: #34495e;
	color:#7f8c8d;
	position: relative;
	top:250px;
	font-family: 'Orbitron', sans-serif;
	padding: 25px;
}

.btn-contact:hover {
	border-color: #34495e;
	background-color: #7f8c8d;
	color:#34495e;
}

.modal-backdrop {
	z-index: 1;
}

.modal-style {
	background-color: #2c3e50;
	font-family: 'Orbitron', sans-serif;
	color:#7f8c8d;
}

.btn-contact-modal {
	border: 2px solid #7f8c8d;
	background-color: transparent;
	color:#7f8c8d;
}

.btn-contact-modal:hover {
	border-color: #34495e;
}

.btn-contact-pos {
	margin-left: 9%;
}

.btn-hide {
	color:#7f8c8d;
	font-family: 'Orbitron', sans-serif;
	background-color: #34495e;
	border: 1px solid #7f8c8d;
	border-radius: 0;
	padding: 5px;
	border-top: 0px;
	border-left: 0px;
}

.hide-nav {
	position: fixed;
    top: 0;
    left: 0%;
    z-index: 10;
}

/************************************************/
/******************* FOOTER *********************/
/************************************************/


/*.scrollinside {
	width:265px;
	height:265px;
	overflow:auto;
}*/


/************************************************************************************************/
/********************************************FIN LAYOUT******************************************/
/************************************************************************************************/


/************************************************************************************************/
/********************************************PAGE ACCUEIL****************************************/
/************************************************************************************************/

.title {
	margin-top: 10%;
	font-family: 'Press Start 2P', cursive;
	color:#7f8c8d;
	font-size: 8em;
	z-index: 6;
	position: relative;

}

/*****************LINES********************************/
.hr {
	width: 100%;
	z-index: 0;
	border-top:3px solid #7f8c8d;
	animation-name: hr;
    animation-duration:4s;
    animation-iteration-count: infinite;
    transition:all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}

@keyframes hr {
	0% {
		border-top-color: #7f8c8d;
	}
	50% {
		border-top-color: #ecf0f1;
	}
	100%{
		border-top-color: #7f8c8d;
	}
}

.vr {
    width:3px;
    z-index: 0;
    background-color:#7f8c8d;
    position:absolute;
    top:0;
    bottom:0;
    left:35%;
    animation-name: vr;
    animation-duration:4s;
    animation-iteration-count: infinite;
    transition:all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
}

.vr2 {
    width:3px;
    background-color:#7f8c8d;
    position:absolute;
    z-index: 0;
    top:0;
    bottom:0;
    left:15%;
    animation-name: vr;
    animation-duration:4s;
    animation-iteration-count: infinite;
    transition:all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
}
.vr3 {
    width:3px;
    z-index: 0;
    background-color:#7f8c8d;
    position:absolute;
    top:0;
    bottom:0;
    left:75%;
    animation-name: vr;
    animation-duration:4s;
    animation-iteration-count: infinite;
    transition:all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
}
/************************************************/

/* Animation de la fléche page home */
@keyframes godown {
    0%   {
    	transform: translate(0, 0);
    }
    50% {
    	transform: translate(0, 15px);
    }
    100% {
    	transform: translate(0, 0);
    }
}
.godown p {

	font-size: 6em;
	text-decoration: none;
	color:#7f8c8d;
	animation-name: godown;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	transition:all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
}

/* animation des lignes de fonds */

@keyframes vr {
    0%   {
    	background-color:#7f8c8d;
    }
    50% {
    	background-color:#ecf0f1;
    }
    100% {
    	background-color:#7f8c8d;
    }
}


/************************************************************************************************/
/********************************************FIN PAGE ACCUEIL************************************/
/************************************************************************************************/

/************************************************************************************************/
/********************************************INSCRIPTION*****************************************/
/************************************************************************************************/

.form {
	padding-top: 5%;
	color:#7f8c8d;
	z-index: 2;
}

.wrap {
	position: absolute;
	
}
 #b {
 position: relative;
 z-index:0;
 border:118px solid;
 border-top-width:177px;
 border-left-width: 203px;
 border-color:transparent;
 border-left-color:#7f8c8d;
 
 } 

.btn-inscription {
	border: 2px solid #7f8c8d;
	background-color: #34495e;
	color:#7f8c8d;
	font-family: 'Orbitron', sans-serif;
	padding: 25px;
	margin-top: 25px;
}

.btn-inscription:hover {
	border-color: #34495e;
	background-color: #7f8c8d;
	color:#34495e;
}

/************************************************************************************************/
/********************************************CREATION********************************************/
/************************************************************************************************/

.title-crea {
	font-family: 'Press Start 2P', cursive;
	color:#7f8c8d;
	font-size: 5.5em;
	padding-top: 3%;
	padding-bottom: 3%;
}

#wrapper {
	margin-left:55%;
}

.text-color {
	font-family: 'Orbitron', sans-serif;
	color:#7f8c8d;
}

.btn-create {
	border: 2px solid #7f8c8d;
	background-color: #34495e;
	color:#7f8c8d;
	font-family: 'Orbitron', sans-serif;
	/*font-family: 'Press Start 2P', cursive;*/
	padding: 15px;
	margin-right: 12%;
	margin-bottom: 1%;
	border-radius:5px;
}

.btn-create:hover {
	border-color: #34495e;
	background-color: #7f8c8d;
	color:#34495e;
}
/** Changement background **/

.background {
	margin-bottom: 2%;
	width: 52%;
	height: 10px;
	border:2px solid #7f8c8d;
}

.text-align {
	position:relative;
	right: 28%;

}

/**** BOX ****/

.color_picker {
	margin-left: -55%;
	margin-bottom: 10%;
}

.wrap-color {
	margin-right: 50px;
}

.placement {
	padding-right: 47%
}

.title-color-placement {
	padding-right: 28%;
}

.box-placement {
	margin-left: -17%;
}

.box {
	width: 50px;
	height: 50px;
	border:1px solid black;
}

/***** BOX COLOR *****/

/*RED*/

.red1{
	background-color: #990000;
}
.red2{
	background-color: #cc0000;
}
.red3{
	background-color: #ff0000;
}
.red4{
	background-color: #ff4c4c;
}
.red5{
	background-color: #ff7f7f;
}
.red6{
	background-color: #ffb2b2;
}

/*BLUE*/

.blue1{
	background-color:#003066;
}
.blue2{
	background-color:#0054b2;
}
.blue3{
	background-color:#0078ff;
}
.blue4{
	background-color:#3293ff;
}
.blue5{
	background-color:#7fbbff;
}
.blue6{
	background-color:#b2d6ff;
}

/*VERT*/

.green1 {
	background-color:#0f4526;
}
.green2 {
	background-color:#1b7943;
}
.green3 {
	background-color:#239c56;
}
.green4 {
	background-color:#3cb66f
;
}
.green5 {
	background-color:#7dce9f;
}
.green6 {
	background-color:#bee6cf;
}

/*JAUNE*/

.yellow1{
	background-color:#604e06;
}
.yellow2{
	background-color:#a8890a;
}
.yellow3{
	background-color:#f1c40f;
}
.yellow4{
	background-color:#f3cf3e;
}
.yellow5{
	background-color:#f6db6f;
}
.yellow6{
	background-color:#faedb7;
}

/*BLACK*/

.black1 {
	background-color:#0d0d0c;
}
.black2 {
	background-color:#282827;
}
.black3 {
	background-color:#70706f;
}
.black4 {
	background-color:#b7b7b7;
}

/*BLANC*/

.white1 {
	background-color:#999998;
}
.white2 {
	background-color:#cccccb;
}
.white3 {
	background-color:#e5e5e4;
}
.white4 {
	background-color:#fffffe;
}
/************************************************************************************************/
/*****************************************LISTE PIXEL ARTS***************************************/
/************************************************************************************************/

#pixels{
	display: inline-block;
}

.pixelart{
	display: inline-block;
	padding-bottom: 20px;
	margin-left: 20px;
	width: 400px;
	position: relative;
}

.pixelart img{
	width: 400px;
	height: 400px;
	position: relative;
	z-index: 3;
}

.glyphicon-eye-open {
	font-size: 3em;
}

/* MODIFS CSS (A REGARDER) */
@media (max-width : 1200px){
	.pixelart{
		width: 90%;
	}
	.glyphicon-eye-open {
		position: absolute;
		left: 45%;
		top: 45%;
		z-index: 4;
		opacity: 0.5;
		font-size: 6em;
	}
}
/************************************************************************************************/
/*****************************************PROFIL*************************************************/
/************************************************************************************************/

.img-profil {
	padding: 50px;
}

/************************************************************************************************/
/*****************************************LISTE UTILISATEURS*************************************/
/************************************************************************************************/

.list-users {
	
}

.glyphicon-pencil {
	font-size: 3em;
}
.glyphicon-trash {
	font-size: 3em;
}
.profil-pad {
  padding-right: 5%;

}


/************************************************************************************************/
/*****************************************Suppression d'un pixel art*****************************/
/************************************************************************************************/



.delete-pixel-btn {
	padding-left: 7%;

}



.delete-user-btn {
	padding-left: 5%;
}