body {
	background-color: white;
	padding-top:70px;
}

/************************************************************************************************/
/********************************************LAYOUT**********************************************/
/************************************************************************************************/

/************************************************/
/******************* NAVBAR *********************/
/************************************************/

.navbar-brand {
	padding:0;
}

.brandStyle {
	padding-left: 15px;
}

/************************************************/
/******************* FOOTER *********************/
/************************************************/

footer {
	width: 100%;
	height: 50px;
	background-color: #333;
	color: grey;
	position: relative;

}
footer p {
	padding-top: 16px;
}

/************************************************************************************************/
/********************************************FIN LAYOUT******************************************/
/************************************************************************************************/


/************************************************************************************************/
/********************************************PAGE ACCUEIL****************************************/
/************************************************************************************************/

/************************************************/
/******************* JUMBO **********************/
/************************************************/

#home {
	width: 100%;
	margin-bottom: 6%;
}

.jumbotron {
	background-color: white;
}

/************************************************/
/******************* THUMB **********************/
/************************************************/

#thumb {
	border-top: 2px solid black;
	background-color: #E4F1FE;
	margin-top: 5%;
}

/************************************************/
/******************* CONTACT ********************/
/************************************************/

#contact {
	padding-top: 50px;
	padding-bottom: 50px;
}

/************************************************************************************************/
/********************************************FIN PAGE ACCUEIL************************************/
/************************************************************************************************/

/************************************************************************************************/
/********************************************INSCRIPTION*****************************************/
/************************************************************************************************/

h2 {
	color: #66D9EF;
}

p {
	color: #29F367;
}
